/*Стиль для текстов и перевода, хранящихся в XML*/

words morphemes {
        display: none;
        position: absolute;
        top: 100%;
      }
	  words word:hover > item{
		  color: red;
	  }
words word:hover morphemes { 
	display: block;
	background: white;
	padding:1em;
	/* margin: 3px 0; */
	border: 1px gray solid;
	z-index: 100;
}
words{
display:block;
}
words, words morphemes {
	margin: 0;
	padding: 0;
}
words { height: 30px; }
words word {
	float: left;
	position: relative;
	margin-right:3pt;
}
words morphemes morph { float: none; }
words morphemes morph:hover{
	color: green;
}

paragraph {
	display:block;
	float:clear;
	margin: 15px 0px 0 0px;
}



phrases > word > item[type="gls"]{ /*Перевод*/
	display:block;
	float:clear;
	color:red;
}
item[type="pos"]{
	display:none;
}
word > item[type="segnum"]{
	display:none;
}
item[type="title"]{
	display:block;
	font-size: 30pt;
	margin: 20px 0 0 20px;
}
body {
	width: 100%;
	border:0px;
	padding:0px;
	margin:0px;
}
xml{
	font-size:14pt;
	text-align:center;
	background:#fff;
}
interlinear-text{
	display:inline-block;
	text-align:left;
}

xml,audio,#help, footer{
	width:900px;
	margin: 0 auto;
	display:block;
}
#help,footer{
	color:#555;
	text-align:center;
}
footer{
	width:100%;
	background:#eee;
	margin-top: 1em;
	padding-top: 3em;
	padding-bottom: 3em;
}