/*Стиль для текстов и перевода, хранящихся в XML*/
interlinear-text{
	display:inline-block;
	text-align:left;
}
paragraph {
	display:block;
	float:clear;
	margin: 15px 0px 0 0px;
}
item[type="title"]{ /*Название для отрывка*/
	display:block;
	font-size: 30pt;
	margin: 20px 0 0 20px;
}

word > item[type="segnum"]{ /*Нумерация параграфов*/
	display:none;
}

words{
	display:block;
}
words morphemes {
	display: none;
	position: absolute;
	top: 100%;
}
	  words word:hover > item{
		  color: red;
	  }
words word:hover morphemes { 
	display: block;
	background: white;
	padding:1em;
	/* margin: 3px 0; */
	border: 1px gray solid;
	z-index: 100;
}
words, 
words morphemes {
	margin: 0;
	padding: 0;
}
words { height: 30px; }
words word {
	float: left;
	position: relative;
	margin-right:3pt;
}
words morphemes morph { 
	float: none; 
}
words morphemes morph:hover{
	color: green;
}
phrases > word > item[type="gls"]{ /*Перевод*/
	display:block;
	float:clear;
	color:red;
}
words > word > item[type="pos"],
words > word > item[type="gls"],
morph>item{
	display: none;
}
morph>item[type="gls"]{
	display:block;
}